{
  "Peers": [
{% for item in yggdrasil_peers %}
        "{{item}}"

{% endfor %}
  ],
  "InterfacePeers": {},
  "Listen": [
{% for item in yggdrasil_listen %}
        "{{item}}"

{% endfor %}
  ],
  "AdminListen": "{{ yggdrasil_admin_listen }}",
  "MulticastInterfaces": [
{% for item in yggdrasil_multicast_interfaces %}
        "{{item}}"

{% endfor %}
  ],
  "AllowedEncryptionPublicKeys": [
    {% for item in yggdrasil_allowed_public_keys %}
        "{{item}}"

    {% endfor %}
  ],
  "EncryptionPublicKey": "{{yggdrasil_enc_pubkey}}",
  "EncryptionPrivateKey": "{{yggdrasil_enc_privkey}}",
  "SigningPublicKey": "{{yggdrasil_sig_pubkey}}",
  "SigningPrivateKey": "{{yggdrasil_sig_privkey}}",
  "LinkLocalTCPPort": {{yggdrasil_linklocal_port}},
  "IfName": "{{yggdrasil_ifname}}",
  "IfTAPMode": {% if yggdrasil_iftapmode %}true{% else %}false{% endif %},
  "IfMTU": {{yggdrasil_ifmtu}},
  "SessionFirewall": {
    "Enable": {% if yggdrasil_session_firewall_enable %}true{% else %}false{% endif %},
    "AllowFromDirect": {% if yggdrasil_session_firewall_allow_direct %}true{% else %}false{% endif %},
    "AllowFromRemote": {% if yggdrasil_session_firewall_allow_remote %}true{% else %}false{% endif %},
    "AlwaysAllowOutbound": {% if yggdrasil_session_firewall_allow_outbound %}true{% else %}false{% endif %},
    "WhitelistEncryptionPublicKeys": [
{% for item in yggdrasil_session_firewall_whitelist %}
        "{{item}}"

{% endfor %}
    ],
    "BlacklistEncryptionPublicKeys": [
{% for item in yggdrasil_session_firewall_blacklist %}
        "{{item}}"

{% endfor %}
    ]
  },
  "TunnelRouting": {
    "Enable": {% if yggdrasil_tunnel_enable %}true{% else %}false{% endif %},
    "IPv6Destinations": {
{% for subnet,public_key in yggdrasil_tunnel_ipv6_destinations %}
            "{{ subnet }}": "{{ public_key }}"

{% endfor %}
    },
    "IPv6Sources": [
{% for item in yggdrasil_tunnel_ipv6_sources %}
        "{{item}}"

{% endfor %}
    ],
    "IPv4Destinations": {
{% for subnet,public_key in yggdrasil_tunnel_ipv4_destinations %}
            "{{ subnet }}": "{{ public_key }}"

{% endfor %}
    },
    "IPv4Sources": [
        {% for item in yggdrasil_tunnel_ipv4_sources %}
        "{{item}}"

        {% endfor %}
    ]
  },
  "SwitchOptions": {
    "MaxTotalQueueSize": {{ yggdrasil_max_queue_size }}
  },
  "NodeInfoPrivacy": {% if yggdrasil_nodeinfo_privacy %}true{% else %}false{% endif %},
  "NodeInfo": {
{% for k,v in yggdrasil_node_info.items() %}
        "{{ k }}": "{{ v }}"

{% endfor %}
    }
}
