{
  "Peers": {{ yggdrasil_peers |to_json }},
  "InterfacePeers": {},
  "Listen": {{ yggdrasil_listen |to_json }},
  "AdminListen": "{{ yggdrasil_admin_listen }}",
  "MulticastInterfaces": {{ yggdrasil_multicast_interfaces |to_json }},
  "AllowedEncryptionPublicKeys": {{ yggdrasil_allowed_public_keys |to_json }},
  "EncryptionPublicKey": "{{ yggdrasil_enc_pubkey |trim }}",
  "EncryptionPrivateKey": "{{ yggdrasil_enc_privkey |trim }}",
  "SigningPublicKey": "{{ yggdrasil_sig_pubkey |trim }}",
  "SigningPrivateKey": "{{ yggdrasil_sig_privkey |trim }}",
  "LinkLocalTCPPort": {{ yggdrasil_linklocal_port |trim }},
  "IfName": "{{ yggdrasil_ifname }}",
  "IfTAPMode": {{ yggdrasil_iftapmode |to_json }},
  "IfMTU": {{ yggdrasil_ifmtu }},
  "SessionFirewall": {
    "Enable": {{ yggdrasil_session_firewall_enable |to_json }},
    "AllowFromDirect": {{ yggdrasil_session_firewall_allow_direct |to_json }},
    "AllowFromRemote": {{ yggdrasil_session_firewall_allow_remote |to_json }},
    "AlwaysAllowOutbound": {{ yggdrasil_session_firewall_allow_outbound |to_json }},
    "WhitelistEncryptionPublicKeys": {{ yggdrasil_session_firewall_whitelist |to_json }},
    "BlacklistEncryptionPublicKeys": {{ yggdrasil_session_firewall_blacklist |to_json }}
  },
  "TunnelRouting": {
    "Enable": {{ yggdrasil_tunnel_enable |to_json }},
    "IPv6RemoteSubnets": {{ yggdrasil_tunnel_ipv6_destinations | to_json }},
    "IPv6LocalSubnets": {{ yggdrasil_tunnel_ipv6_sources |to_json }},
    "IPv4RemoteSubnets": {{ yggdrasil_tunnel_ipv4_destinations |to_json }},
    "IPv4LocalSubnets": {{ yggdrasil_tunnel_ipv4_sources |to_json }}
  },
  "SwitchOptions": {
    "MaxTotalQueueSize": {{ yggdrasil_max_queue_size }}
  },
  "NodeInfoPrivacy": {{ yggdrasil_nodeinfo_privacy |to_json }},
  "NodeInfo": {{ yggdrasil_node_info |to_json }}
}
